{
  "plugins": [
    ["@babel/plugin-syntax-class-properties"],
    [
      "polyfill-corejs3",
      {
        "method": "usage-global"
      }
    ],
    ["polyfill-regenerator", { "method": "usage-global" }]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        // "useBuiltIns": "usage",
        "debug": true,
        "corejs": 3.8
      }
    ]
  ]
}
