{
  "plugins": [
    ["@babel/plugin-syntax-class-properties"],
    [
      "@babel/plugin-transform-runtime",
      {
        "absoluteRuntime": false,
        "corejs": 3,
        "helpers": true,
        "regenerator": true,
        "useESModules": false,
        "version": "7.12.15"
      }
    ]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        // "useBuiltIns": "usage",
        "debug": true
        // "corejs": 3.8
      }
    ]
  ]
}
