@import "corecss/variables";
@import "corecss/_color.scss";
@import "corecss/_tipography.scss";
@import "./partials/_top-sale.scss";

#product {
  .r_button {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
  }
}
