@import "corecss/mixins";
.page-container {
  & .topbar {
    @include background("img/base_Bandeau.png");
    & .top-right-menu {
      & .user-setting-list {
        background: transparent;
        & .nav-profile {
          & img {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
}
