/* CSS Document */
// @import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&family=Open+Sans:ital,wght@0,600;0,700;0,800;1,400;1,600;1,700;1,800&family=Oswald:wght@200&family=Oxygen:wght@300;400;700&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Nunito:wght@400;700&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap");
/*Font face*/
// @include fontface("roboto", "fonts/Roboto/Roboto-Regular", 100, normal, "ttf");
// @font-face {
//   font-family: "roboto";
//   src: url("fonts/Roboto/Roboto-Regular.ttf") format("truetype");
// }
// @font-face {
//   font-family: "Abel";
//   src: url("fonts/Abel/Abel-Regular.ttf") format("truetype");
// }

// /*Font familly : Anton*/
// @font-face {
//   font-family: "Anton";
//   src: url("fonts/Anton/Anton-Regular.ttf") format("truetype");
// }

// /*Font familly : josefin*/
// @font-face {
//   font-family: josefin;
//   src: url("fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf")
//     format("truetype");
// }

// /*Font familly : livvic*/
// @font-face {
//   font-family: "livvic";
//   src: url("fonts/Livvic/Livvic-Regular.ttf") format("truetype");
// }

// /*Font familly : lexend*/
// @font-face {
//   font-family: "lexend";
//   src: url("fonts/Lexend_Deca/LexendDeca-Regular.ttf") format("truetype");
// }

// @font-face {
//   font-family: "maven pro";
//   src: url("fonts/Maven pro/MavenPro-VariableFont_wght.ttf") format("truetype");
// }

// @font-face {
//   font-family: "fira";
//   src: url("fonts/Fira/static/FiraCode-Regular.ttf") format("truetype");
// }
