// global classes ================
button,
button:focus {
  outline: none !important;
  box-shadow: none !important;
}
/* fontawesome icon reset*/
.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  background: transparent;
  overflow: hidden;
}
