// =============================================================================
// Font
// =============================================================================
$font-baloo: "Baloo Thambi 2", cursive
$font-raleway: "Raleway", sans-serif
$font-rubik: "Rubik", sans-serif
$font-roboto: "Roboto", sans-serif
// =============================================================================
// Color
// =============================================================================
// white Color
$white-common:#fefefe
$white-color: #fff
$white-variant: #fafafa
$white-light: #f2f2f2
$white-green: #e8f5f1
$white-smoke: #fbfbfb

// Blue color
$color-primary: #003859
$color-second: #00a5c4
$blue-dark: #024873
$color-blue: #007bff
$blue-light: #a0caeb
$blue-variant: #4e91be
$blue-standard: #45587F
//Yellow color
$color-yellow: #ffd289
$dark-yellow: #b06d00

// Dark color
$dark-color: #000
$dark-variant: #4c4c4c
$dark-light: #7d7d7d

//Purple Color
$purple: #9400d3
$purple-color: #cc66ff
$purple-dark: #886ab5

//gray Color
$gray-standard: #696969
$gray: #495057
$gray-common:#888
$gray-light: #f5f5f5
$gray-variant: #c8c8c8
$gray-dark: #b8b8b8
$gray-smoke: #ced4da
$gray-white: #dddddd
//orange color
$orange-color: #c45500

//green color
$green-very-light:#33cabb
$green-light: #028f68

//input
$input-background: #f2f4f6

//credit card color
$visa-color: #020659

//Font-size
$font-base : 1rem
$font-large: 2.5rem

//Font aeight
$font-weight-normal: normal

//Border 
$border-width : 1px
//Line heigjt
$base-line-heigth : 2rem
// btn transition 
$btn-transition : all,.2s ease-in-out
$border-radius : 10px

// Responsive Variables
$desktop: "only screen and (min-width: 1400px)"
$laptop: "only screen and (min-width: 1200px) and (max-width: 1399px)"
$lg: "only screen and (min-width: 992px) and (max-width: 1199px)"
$md: "only screen and (min-width: 768px) and (max-width: 991px)"
$xs: "(max-width: 767px)"
$sm: "only screen and (min-width: 576px) and (max-width: 767px)"
// =============================================================================
// Paragraphe
// =============================================================================
$p-color: #131826
$midnight: #104f55
