$font-baloo: "Baloo Thambi 2", cursive;
$font-raleway: "Raleway", sans-serif;
$font-rubik: "Rubik", sans-serif;
$font-roboto: "Roboto", sans-serif;

// Color

$color-primary: #003859;
$color-second: #00a5c4;
$color-yellow: #ffd289;

// Dark Color
$dark-color: #000;
$dark-variant: #4c4c4c;
$dark-light: #7d7d7d;

//input
$input-background: #f2f4f6;
