<IfModule mod_rewrite.c>
Options -Multiviews
RewriteEngine On
RewriteBase /kngell/public
RewriteCond %{REQUEST_URI} index(.+)
RewriteRule ^(.+)$ index.php [NC,L]
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [NC,QSA,L]
</IfModule>
<IfModule !mod_rewrite.c>
ErrorDocument 404 /not_found_page.php
RewriteRule !\.(js|ico|gif|jpg|jpeg|svg|bmp|png|css|pdf|swf|mp3|mp4|3gp|flv|avi|rm|mpeg|wmv|xml|doc|docx|xls|xlsx|csv|ppt|pptx|zip|rar|mov)$ index.php
</IfModule>
