#blog {
  .title {
    width: 100%;
    margin: 0 auto;
    position: relative;
    h4 {
      padding-bottom: 0.6rem;
    }
  }
  .owl-carousel {
    width: 90%;
    margin: 0 auto;
    display: flex !important; // to override display:bloc i added !important
    justify-content: center;
    .owl-item {
      text-align: center;
    }
    .item {
      float: none;
      display: inline-block;
    }
  }
}
