// Special price section template

#new-phones {
  .title {
    width: 100%;
    margin: 0 auto;
    position: relative;
    h4 {
      padding-bottom: 0.6rem;
    }
  }
  .owl-carousel {
    width: 90%;
    height: auto;
    margin: 0 auto;
    position: relative;
    .owl-item {
      text-align: center;
    }
    .item {
      float: none;
      display: inline-block;
    }
  }
}
